.right {
    display: flex;
    cursor: pointer;
    font-size: 2em;
    margin-left: 55em;
    margin-top: -119em;
}
.left {
    display: flex;
    cursor: pointer;
    font-size: 2em;
    margin-right: 56em;
    margin-top: -119.5em;
}
.right2 {
    display: flex;
    cursor: pointer;
    font-size: 2em;
    margin-left: 55em;
    margin-top: -29.5em;
}
.left2 {
    display: flex;
    cursor: pointer;
    font-size: 2em;
    margin-right: 56em;
    margin-top: -29.5em;
}