* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.bottonHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1.9px solid rgb(104, 104, 104);
    color: #3b3b3d;
    border-radius: 0.7em;
    background-color: rgba(235,234,234,255);
    height: 2em;
    width: 5em;
    margin-right: 4em;
}
.input {
    display: flex;
    gap: 7em;
    flex-direction: row;
}