.vistaRegister{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.formulario1{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 90vw;
    border-radius: 0.1em;
    background-color: rgba(235,234,234,255);
    border: rgb(0, 123, 255) 33.4px solid;
    border-bottom: rgb(174, 181, 189) 33.4px solid;
    border-top: rgb(174, 181, 189) 33.4px solid;
    box-sizing: border-box;
    padding-top: 1em;
    top: -3em;
}

.errorsText {
    font-size: 0.7em;
    color: red;
    position: relative;
    top: 5.5em;
    left: -41em;
}

.errorsText1 {
    font-size: 0.7em;
    color: red;
    position: relative;
    top: 11.3em;
    right: 40em;
}
.errorsText11 {
    font-size: 0.7em;
    color: red;
    position: relative;
    top: 9.9em;
    right: 40em;
}
.errorsText12 {
    font-size: 0.7em;
    color: red;
    position: relative;
    top: -17.6em;
    left: 5em;
}
.errorsText13 {
    font-size: 0.7em;
    color: red;
    position: relative;
    top: -16.3em;
    left: 5em;
}

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    left: 10em;
}


.registerButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // position: relative;
    border: 1.9px solid rgb(104, 104, 104);
    cursor: pointer;
    color: #3b3b3d;
    border-radius: 0.7em;
    background-color: rgba(235,234,234,255);
    height: 3.4em;
    width: 12em;
    margin-right: 5em;
    z-index: 1;
    margin-top: -11em;
}

.registerButton:hover {
    background-color: rgb(146, 142, 143);
    transition: 0.2s;
}