
.formulario1{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    width: 35em;
    border-radius: 0.1em;
    border: solid gray;
    box-sizing: border-box;
    padding-top: 1em;
    top: -6em;
}

.errorsText {
    font-size: 0.7em;
    color: red;
}

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.vistaRegisterClient{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registerButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 5em;
    border-radius: 0.2em;
    border: solid 0.02em #141427;
    cursor: pointer;
}

.registerButton:hover{
    background-color: rgb(105, 86, 89);
    transition: 0.2s;
}