.vistaRegister{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.top{
    display: flex;
    margin-top: 21em;
}
.formulario1{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 90vw;
    border-radius: 0.1em;
    background-color: rgba(235,234,234,255);

    border: rgb(86, 108, 133) 33.4px solid;
    border-bottom: rgb(17, 31, 46) 33.4px solid;
    border-top: rgb(17, 31, 46) 33.4px solid;
    box-sizing: border-box;
    padding-top: 1em;
}
.registerButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // position: relative;
    border: 1.9px solid rgb(104, 104, 104);
    cursor: pointer;
    color: #3b3b3d;
    border-radius: 0.7em;
    background-color: rgba(235,234,234,255);
    height: 3.4em;
    width: 12em;
    z-index: 1;
    margin-bottom: 2em;
    margin-top: 2em;
}

.registerButton:hover {
    background-color: rgba(117, 115, 115, 0.103);
    transition: 0.2s;
}