* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contentDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // top: 4em;
    width: 100vw;
    height: 100vh;

    .back_img {
        width: 100vw;
        height: 30em;
        z-index: -1;
        opacity: 0.5;
    }

    .vistaDetail {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 87.6em;
        height: 35em;
        // overflow: scroll;
    }

    .contentSpan {
        display: flex;
        flex-direction: column;
        width: 42em;
        height: 21em;
        font-family: "SF Pro Display", -apple-system, acumin-pro, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        color: rgb(3, 12, 48);
    }

    .textD {
        display: flex;
        height: 20em;
        width: 46em;
        justify-content: center;
        border: solid rgba(128, 128, 128, 0) 0.2em;
        padding-left: 4em;
        line-height: 1.5;
        color: rgb(0, 0, 0);
    }

    .titleD {
        position: relative;
        width: 20em;
        justify-content: center;
        right: 6em;
        font-size: 1.4em;
        top: -2em;
    }
    .vote {
        color: black;
        font-size: 1em;
        height: 11em;
        text-align: center;
        width: 6em;
        border-radius: 50%;
        background: green;
    }
    .arrows {
        display: flex;
        height: 6em;
        width: auto;
        padding-top: 2em;
    }

    .imagenD {
        display: flex;
        margin-left: -11em;
        width: 21em;
    }

.rent {
    display: flex;
    border: solid gray;
    background: rgb(83, 83, 83);
    height: 6em;
    width: 26em;
    top: -33em;
}
}
