* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contentDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    .back_img {
        width: 100vw;
        height: 30em;
        z-index: -1;
        opacity: 0.5;
    }

    .vistaDetail {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 88em;
        height: 35em;
        // overflow: scroll;
    }

    .contentSpan {
        display: flex;
        flex-direction: column;
        width: 59em;
        margin-top: -11em;
        height: 29em;
        margin-top: 1em;
        border: solid rgb(226, 12, 12);
    }

    .titleD {
        display: flex;
        margin-left: 1em;
        margin-top: auto;
        margin-bottom: 20em;
        font-size: 1.4em;
        width: 15em;
        border: solid gray;
    }
    .vote {
        display: flex;
        color: black;
        font-size: 1em;
        margin-top: -33em;
        height: 6em;
        width: 12em;
        border-radius: 50%;
        background: green;
        border: solid gray;
    }
    .over{
        display: flex;
        margin-left: 12em;
        margin-bottom: 22em;
        border: solid rgb(21, 170, 53);
        display: flex;
        height: 22em;
        width: 46em;
        // justify-content: center;
        border: solid rgba(128, 128, 128, 0) 0.2em;
        padding-left: 9em;
        margin-top: -27em;
        line-height: 2.5;
    }
    .arrows {
        display: flex;
        height: 6em;
        width: auto;
        padding-top: 2em;
    }

    .imagenD {
        display: flex;
        margin-left: -16em;
        width: 21em;
    }
    .back_img {
        width: 84em;
        height: 35em;
    }

    .rent {
        display: flex;
        border: solid gray;
        background: rgb(83, 83, 83);
        height: 6em;
        width: 26em;
        top: 1em;
    }
}