.clientUpdateContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 6em;
    margin-left: 5em;

    gap: 11em;
    background-color: rgba(235,234,234,255);
    width: 90vw;
    height: 60%;
    border: rgb(0, 123, 255) 33.4px solid;
    border-bottom: rgb(174, 181, 189) 33.4px solid;
    border-top: rgb(174, 181, 189) 33.4px solid;
}

.updateContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 30em;
    height: 40em;
    padding: 1em;
    margin-bottom: 1em;
    margin-right: 6em;
}

.updateButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    margin-top: 2em;
    transition: 0.2s;
    height: 3em;
    width: 8em;
    border: 1.9px solid rgb(104, 104, 104);
    color: #3b3b3d;
    border-radius: 0.7em;
    background-color: rgba(235,234,234,255);
}

.updateButton:hover {
    transition: 0.2s;
}

.updatePassword {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    margin-right: 5em;
    padding-top: 2em;
    width: 30em;
    height: 25em;
    margin-bottom: 2em;
}

.titleUpdate {
    margin-bottom: -1em;
}

.errorsText {
    font-size: 0.7em;
    color: red;
    width: 28em;
}

.box2 {
    width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.data {
    display: flex;
    margin-left: 56em;
}
.data1 {
    display: flex;
    margin-left: 55em;
}