.cardOrder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 23em;
    height: 36em;
    margin: 2em;
    padding: 2em;
    border-radius: 1em;
    background-color: rgba(169,182,200,255);
    border: 1.7px solid #6f6d6d;
    &:hover {
        transform: scale(1.06);
        transition: 0.5s;
    }

    .imgAdmin {
        display: flex;
        width: 13em;
        height: 13em;
        border-radius: 0.5em;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        gap: 1.4em;
    }
    .updateButton2 {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        transition: 0.2s;
        height: 2.7em;
        width: 7em;
        border: 1.9px solid rgb(104, 104, 104);
        color: #3b3b3d;
        border-radius: 0.7em;
        background-color: rgba(235,234,234,255);
    }
}