* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.allOrders {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .orderContent {
        width: 100vw;
        height: 100%;
        margin-top: 2em;
        margin-bottom: 3em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .orderCards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        width: 21em;
        margin: 2em;
        padding: 1em;
        border: 1.7px solid #6f6d6d;
        border-radius: 1em;
        background-color:hsla(222, 8%, 68%, 0.529);
        &:hover {
            // opacity: 0.5;
            transform: scale(1.06);
            transition: 0.5s;
        }
        .info {
            margin-left: 4em;
        }
    }
    .order {
        // margin-left: 1em;
        line-height: 2.2;
    }
}
.notOrder {
    display: flex;
    border: 1.4px solid rgb(104, 104, 104);
    background-color: rgba(235,234,234,255);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vh;
    border: rgb(0, 123, 255) 33.4px solid;
    border-bottom: rgb(174, 181, 189) 33.4px solid;
    border-top: rgb(174, 181, 189) 33.4px solid;
}