* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.allContent {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    // overflow-x: hidden;

    .movieContent {
        width: 100vw;
        height: 100%;
        margin-top: 2em;
        // margin-bottom: 2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .content2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        // width: 21em;
        margin: 2em;
        // padding: 2em;
        // border-radius: 0.8em;
        // background-color: rgba(169,182,200,255);
        // background-color: #31579e67;
        // border: 1px solid #6f6d6d7e;
        &:hover {
            opacity: 0.5;
            // transform: scale(1.06);
            transition: 0.5s;
        }
    }
    .imgaPort {
        display: flex;
        width: 19em;
        height: 26em;
        border-radius: 0.3em;
    }
    .right {
        display: flex;
        cursor: pointer;
        font-size: 2em;
        margin-left: 55em;
        margin-top: -119em;
    }
    .left {
        display: flex;
        cursor: pointer;
        font-size: 2em;
        margin-right: 56em;
        margin-top: -119.5em;
    }
    .right2 {
        display: flex;
        cursor: pointer;
        font-size: 2em;
        margin-left: 55em;
        margin-top: -29.5em;
    }
    .left2 {
        display: flex;
        cursor: pointer;
        font-size: 2em;
        margin-right: 56em;
        margin-top: -29.5em;
    }
}