@import './SCSS/variables.scss';

@import 'containers/Home/Home.scss';
@import './components/Header/Header.scss';
@import 'containers/login/Login.scss';
@import 'containers/Register/Register.scss';

@import './containers/Admin/AdminProfile/Admin.scss';
@import './containers/Admin/AllUsers/AllUsers.scss';
@import './containers/Admin/AllOrders/AllOrders.scss';
@import './containers/Admin/Update/UpdateOrders.scss';

@import 'containers/UpComing/UpComing.scss';
@import 'containers/TopRated/TopRated.scss';
@import 'containers/Popular/Popular.scss';
@import 'containers/MoviesGenre/MoviesGenre.scss';
@import './components/Movies/MovieQuery.scss';

@import './containers/MovieTitle/MovieTitle.scss';
@import 'containers/Detail/Detail.scss';
@import 'components/Search/Search.scss';
@import './containers/Profile/UpdateUser.scss';
@import './containers/Orders/OrdersUser.scss';

/*
html,
body,
#root {
  height: 100%;
  margin: 0;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

